* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, div#root {
    height: 100%;
    width: 100%;
}

div#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: .3rem;
    border: 2px solid #bbb;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .2rem;
}

.box {
    background: #eee;
    height: 5rem;
    width: 5rem;
}